@model Icogram.ViewModels.Chat.ChatsPageViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesLib
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Libs/Gentelella/vendors/select2/dist/css/select2.css" />
}
@section stylesCustom
{
    <style>
        table textarea, table select, table input:not([type='checkbox']) {
            width: 100% !important;
        }
    </style>
}
@section scriptsLib {
    <script src="~/Libs/Gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Libs/Gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Libs/Gentelella/vendors/select2/dist/js/select2.full.min.js"></script>
}
@section scriptsCustom
{
    <script>
        var table = $("#Table")
            .DataTable({
                columnDefs: [
                    {
                        targets: [0],
                        searchable: true
                    }
                ],
                scrollY: $(window).height() - 200,
                scrollCollapse: true,
                dom: '<"left"B> frtl',
                buttons: []
            });

        function setDeleteData(row) {
            localStorage.setItem("row", $(row).parents('tr').html().toString());
            var $row = $(row);
            $("#delete")
                .find("#deleteModalLabel")
                .text("Leave " + $row.parent().parent().find("input[Name=Name]").val());
        }

        function deletecommand() {
            var $row = $(localStorage.getItem("row"));
            $.post('@Url.Action("DeleteCommand")', { id: $row.find("input[Name=Id]").val() })
                .done(function () {
                    location.reload();
                });
        }

        function saveUpdates(row) {
            var $row = $(row).parents('tr');
            $.post('@Url.Action("EditCommand")',
                {
                    Id: $row.find("input[Name=Id]").val(),
                    Title: $row.find("input[Name=Title]").val(),
                    Type: $row.find("input[Name=Type]").val(),
                    CompanyId: $row.find("select[Name=Company]").val(),
                    IsApproved: $row.find("input[Name=IsApproved]").is(':checked'),
                    TelegramChatId: $row.find("input[Name=TelegramChatId]").val(),
                    WelcomeUserMessage: $row.find("textarea[Name=WelcomeUserMessage]").val(),
                    CommandTimeOut: $row.find("input[Name=CommandTimeOut]").val()
                })
                .done(function () {
                    location.reload();
                });
        }

        function refreshChat(row) {
            var $row = $(row).parents('tr');
            $.post('@Url.Action("UpdateChatCommand")',
            {
                id: $row.find("input[Name=Id]").val()
            }).done(function () {
                location.reload();
            });
        }

        $("#deletecommand").on('click', deletecommand);

        $(document)
            .ready(function () {
                $("thead").find("th").first().trigger("click");
                $("thead").find("th").first().trigger("click");
            });
    </script>
}
<div class="x_panel">
    <div class="x_title">
        <h2>Chats</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="table-responsive">
            <table class="table table-striped jambo_table table-bordered" id="Table">
                <thead>
                    <tr class="headings">
                        <th class="column-title">№</th>
                        <th class="column-title text-center">Title</th>
                        <th class="column-title text-center">Company Name</th>
                        <th class="column-title text-center">Type</th>
                        <th class="column-title text-center">Is Approved?</th>
                        <th class="column-title text-center">Telegram ID</th>
                        <th class="column-title text-center">Welcome Message</th>
                        <th class="column-title text-center">Command Time out</th>
                        <th class="column-title text-center last">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var chat in Model.Chats.Select((value, i) => new { j = i + 1, value }))
                    {
                        <tr class="">
                            <td width="5%"><input class="hidden" name="Id" value="@chat.value.Id" /> @chat.j</td>
                            <td width="15%"><input class="form-control" type="text" name="Title" value="@chat.value.Title" /></td>
                            <td width="10%">
                                <select class="form-control" name="Company">
                                    @if (!chat.value.CompanyId.HasValue)
                                    {
                                        <option value="null" disabled selected>Undefined</option>
                                        foreach (var company in Model.Companies)
                                        {
                                            <option value="@company.Id">@company.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var company in Model.Companies)
                                        {
                                            if (company.Id == chat.value.CompanyId.Value)
                                            {
                                                <option selected="selected" value="@company.Id">@company.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@company.Id">@company.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td width="10%"><input class="form-control" disabled="disabled" type="text" name="Type" value="@chat.value.Type" /></td>
                            <td width="5%" class="text-center">
                                @if (@chat.value.IsApproved)
                                {
                                    <input class="form-control" name="IsApproved" type="checkbox" checked />
                                }
                                else
                                {
                                    <input class="form-control" name="IsApproved" type="checkbox" />
                                }
                            </td>
                            <td width="13%"><input class="form-control" disabled="disabled" type="text" name="TelegramChatId" value="@chat.value.TelegramChatId" /></td>
                            <td width="15%"><textarea class="form-control" type="text" name="WelcomeUserMessage" placeholder="Welcome Message">@chat.value.WelcomeUserMessage</textarea></td>
                            <td width="11%"><input class="form-control" type="number" name="CommandTimeOut" value="@chat.value.CommandTimeOut" /></td>
                            <td class="text-center" width="7%">
                                <a class="label label-md label-success" onclick="saveUpdates(this)"><span class="fa fa-floppy-o"></span></a>
                                <a class="label label-md label-warning" onclick="refreshChat(this)"><span class="fa fa-refresh"></span></a>
                                <a class="label label-md label-danger" onclick="setDeleteData(this)" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="delete">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="deleteModalLabel">Leave</h4>
            </div>
            <div class="modal-body">
                <input class="hidden" name="userId" />
                <h4>Are you sure?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="deletecommand" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>