@model Icogram.ViewModels.Login.ErrorViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Botico</title>
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <style>
        .form-login {
            max-width: 350px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container-fluid login">
        <div class="col-lg-6 col-md-6 login__left-col">
            <div class="login-form">
                @using (Html.BeginForm("LoginCommand", "Authentication", FormMethod.Post))
                {
                    <div class="logo">
                        B<img class="logo__image" alt="botme" src="@Url.Content("~/Content/robot.png")">T.ME
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Username" placeholder="Username" required="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
                    </div>
                    <div class="form-group login__btn">
                        <input type="submit" class="btn btn-lg btn-info submit pull-left" value="Log in">
                    </div>
                    <div class="form-group login__btn">
                        <span class="text-danger" style="font-size: 18px; float: right;">@Model.Error</span>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-6 col-md-6 login__right-col">
            <div class="login__description">
                @if (Model.Resources.Any(r => r.Name == "Login"))
            {
                var myHtmlString = new HtmlString(Model.Resources.First(r => r.Name == "Login").DefaultValue);
                    <div class="x_content">
                        @myHtmlString
                    </div>
                }
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        (function () {
            var widget_id = 'eNVBXLVVBl'; var d = document; var w = window; function l() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
            } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
        })();
    </script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us17.list-manage.com", "uuid": "1333b9a1fe5f766b653444494", "lid": "2355983c0d" }) })</script>
</body>
</html>
